<footer class="main-footer">

  <div class="footer-container">

    <div class="footer-links">

      <div class="footer-social-wrap">
        <a href="#" class="social-link"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="#" class="social-link"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="#" class="social-link"><i class="fa-brands fa-threads"></i> Threads</a>
        <a href="#" class="social-link"><i class="fab fa-youtube"></i> YouTube</a>
        <a href="#" class="social-link"><i class="fab fa-line"></i> LINE</a>
      </div>

      <div class="footer-column">
        <h3>最新消息</h3>
        <ul>
          <li><a href="#">最新優惠</a></li>
          <li><a href="#">官方公告</a></li>
          <li><a href="#">品牌故事</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>認識 Lohas</h3>
        <ul>
          <li><a href="#">關於 Lohas</a></li>
          <li><a href="#">人才招募</a></li>
          <li><a href="#">聯絡我們</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>會員專區</h3>
        <ul>
          <li><a href="#">會員 APP</a></li>
          <li><a href="#">雷刻服務</a></li>
          <li><a href="#">配鏡方案</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>樂活商店街</h3>
        <ul>
          <li><a href="#">商店街主頁</a></li>
          <li><a href="#">申請加入</a></li>
        </ul>
      </div>

    </div>

    <div class="footer-bottom">
      <p>© 2026 Lohas 樂活眼鏡 All Rights Reserved.</p>
    </div>

  </div>

</footer>
